<header class="header">
	<div class="header__inner inner">
		<ul class="header__icons">
			<a href="#" class="header__icon js-icon">
				<span class="header__icon-fullscreen">{{mixins.icon('fullscreen')}}</span>
			</a>
			<a href="#" class="header__icon js-icon">
				<span class="header__icon-chat">{{mixins.icon('chat')}}</span>
				<span class="header__icon-number">7</span>
			</a>
			<a href="#" class="header__icon js-icon">
				<span class="header__icon-notification">{{mixins.icon('notification')}}</span>
				<span class="header__icon-number">12</span>
			</a>
		</ul>
		<button class="header__menu-btn menu-btn js-menu-btn">
			<span class="menu-btn__line-small"></span>
			<span class="menu-btn__line"></span>
			<span class="menu-btn__line-big"></span>
		</button>
	</div>
</header>